body {
  margin: 0;
  font-family: sans-serif;
}

div#title {
  text-align: center;
}

div#timeline {
  text-align: center;
  margin: 20px 0px;
}

div#selected_year {
  font-size: 32px;
}

input#timeline_range {
    width: 60%;
}

div#mapnpeople {
    position: relative;
}

div#map_container {
  margin-right: 200px;
  height: 300px;
  overflow: hidden;
}

div#people {
  width: 180px;
  float: right;
  padding: 0px 10px;
  margin: 0;
}

div.person {
  padding: 5px;
}

div.person:hover {
  background-color: #c4d8ff;
}

img.person_avatar {
  height: 28px;
  width: 28px;
  float: left;
}

p.name {
  margin: 0;
  padding-left: 10px;
  font-size: 11px;
  line-height: 28px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

div.short_bio_overlay {
  position: absolute;
  right: 200px;
  top: 0px;
}

div.short_bio {
  width: 200px;
  height: 300px;
  padding: 10px 10px;
  background-color: white;
  box-shadow: 0 0 10px 3px #909090;
  overflow: auto;
}

p.short_bio_close {
  text-align: right;
}

img.short_bio_right_arrow {
  position:absolute;
  right: -9px;
  top: 10px;
}

div.short_bio p {
  margin: 0;
}
