body {
  margin: 0;
  font-family: sans-serif;
}

div#title {
  text-align: center;
}

div#timeline {
  text-align: center;
  margin: 20px 0px;
}

div#selected_year {
  font-size: 32px;
}

input#timeline_range {
    width: 60%;
}

div#map_container {
  margin-right: 200px;
  height: 300px;
  background-image: url('map_placeholder.jpg');
}

div#people {
  width: 180px;
  float: right;
  padding: 0px 10px;
  margin: 0;
}

div.person {
  padding: 5px;
}

div.person:hover {
  background-color: #c4d8ff;
}

img.person_avatar {
  height: 28px;
  width: 28px;
  float: left;
}

p.name {
  cursor: default;
  margin: 0;
  padding-left: 10px;
  font-size: 11px;
  line-height: 28px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
