html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: sans-serif;
}

header {
  padding-top: 1px;
  text-align: center;
}

div#timeline {
  text-align: center;
  margin: 20px 0px;
}

div#selected_year {
  font-size: 32px;
}

input#timeline_range {
    width: 60%;
}

div#mapnpeople {
    position: relative;
    overflow: hidden;
}

div#map_container {
  margin-right: 200px;
  overflow: hidden;
}

div.edit_UI {
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(113, 123, 135);
  line-height: 0;
  padding: 4px;
  cursor: "pointer";
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px;
}

div.edit_UI:hover {
  background-image: -webkit-linear-gradient(top, rgb(255,255, 255), rgb(230, 230, 230));
  background-image: -moz-linear-gradient(top, rgb(255,255, 255), rgb(230, 230, 230));
  background-image: linear-gradient(top, rgb(255,255, 255), rgb(230, 230, 230));
}

div#people {
  width: 180px;
  float: right;
  padding: 0px 10px;
  margin: 0;
  overflow-y: auto;
}

div.person, div#add_person_container {
  padding: 5px;
  cursor: pointer;
}

div.person:hover {
  background-color: #c4d8ff;
}

div#add_person_container:hover {
  background-color: #efefef;
}

img.person_avatar, img#add_person_avatar {
  height: 28px;
  width: 28px;
  float: left;
}

p.name, p#add_person_text {
  margin: 0;
  padding-left: 10px;
  font-size: 11px;
  line-height: 28px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

a#add_person {
  text-decoration: none;
}

a#add_person:link, a#add_person:visited {
  color: black;
}

a#add_person:hover {
  text-decoration: underline;
}

div.short_bio_overlay {
  position: absolute;
  right: 200px;
  top: 10px;
  z-index: 1;
}

div.short_bio {
  width: 200px;
  padding: 10px 10px;
  background-color: white;
  box-shadow: 0 0 10px 3px #909090;
  overflow: auto;
}

p.short_bio_close {
  text-align: right;
}

a.short_bio_close_button {
    text-decoration: none;
}

a.short_bio_close_button:visited, a.edit_short_bio:visited {
    color: #0000ee;
}

img.short_bio_right_arrow {
  position:absolute;
  right: -9px;
  top: 0px;
}

div.short_bio p {
  margin: 0;
}
